<div *ngIf="clientData">
    <h2>Récapitulatif des données</h2>
    <p><strong>Civilité:</strong> {{ clientData.civilite }}</p>
    <p><strong>Nom:</strong> {{ clientData.nom }}</p>
    <p><strong>Prénom:</strong> {{ clientData.prenom }}</p>
    <p><strong>Adresse:</strong> {{ clientData.adresse }}</p>
    <p><strong>Code Postal:</strong> {{ clientData.cp }}</p>
    <p><strong>Ville:</strong> {{ clientData.ville }}</p>
    <p><strong>Téléphone:</strong> {{ clientData.tel }}</p>
    <p><strong>Email:</strong> {{ clientData.email }}</p>
    <p><strong>Login:</strong> {{ clientData.login }}</p>
    <p><strong>Pays:</strong> {{ clientData.pays }}</p>
</div>
  